apiVersion: apps/v1
kind: Deployment
metadata:
  name: fiap-soat-categorias
  namespace: fiap-soat-app
  labels:
    app: fiap-soat-categorias
    service: categorias
spec:
  selector:
    matchLabels:
      app: fiap-soat-categorias
  template:
    metadata:
      labels:
        app: fiap-soat-categorias
        service: categorias
    spec:
      containers:
      - name: fiap-soat-categorias
        image: 972061217679.dkr.ecr.us-east-1.amazonaws.com/fiap-soat-categorias:latest
        imagePullPolicy: Always
        ports:
        - name: http
          containerPort: 3000
          protocol: TCP
        
        # Health Checks
        livenessProbe:
          httpGet:
            path: /health
            port: 3000
            scheme: HTTP
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 3
        
        readinessProbe:
          httpGet:
            path: /health
            port: 3000
            scheme: HTTP
          initialDelaySeconds: 10
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 3
        
        envFrom:
        - configMapRef:
            name: fiap-soat-categorias-config
        - secretRef:
            name: fiap-soat-categorias-secrets
        
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
